header{
  border: 2px solid teal;
  background-color: lightslategray;
  height: 120px;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between; 
}

h1{
  align-self: center;
  font-style: italic;
}

.logo{
  height: 80px;
}

.profile{
  height: 50px;
  align-self: flex-start;
  padding-top: 10px;
}

ul{
  display: flex;
  flex-wrap: wrap;
}